<center><h1>WELCOME TO BUCKLE UP!</h1>
    <br />
    Buckle Up! Is a new tool designed to help students privately identify their academic weaknesses based on real-time grade data, and discover online options for supplementing their education in these areas.</center>

<br />
<br />

<p>
<h1>The Problem </h1>
The only access students have to their grades are snapshots of how they are doing at one instance of their entire academic career. This prevents students from correcting sub-satisfactory performance or from improving to increase their success in the long term. Additionally, finding online materials to supplement a student's coursework is increasingly difficult in an era of online education overload.
</p>

<br />
<br />


<p>
<h1>The Solution</h1>
<ul>Show students their grade trends</ul>
<ul>Automatically recommend additional, freely available, supplementary learning materials.</ul>
<ul>Show true comparisons with other students at the class, grade, municipal, state, regional, or national levels.</ul>
</p>


<p>
    <center>
<Strong>These three pillars allow students to quickly identify and correct downward trends in order to increase their chances for success in their educational career, using free quality educational materials.</strong>
    </center>
</p>

<p><h1>How It Works</h1></p>
<p>
<ul>1.  The student logs in and their grade/course data is pulled in via the LearnSprout API to show users their current performance.</ul>
<ul>2.  Negative trends are automatically identified and supplementary materials are suggested</ul>
<ul>3.  Students can access historical trends of their grades.</ul>
<ul>4.  Students can manipulate the charts to see how they compare with other populations at a given time or across a range of dates</ul>
</p>