%h1{:style => 'margin-bottom: 1em;'}
  Get started by selecting your organization below.

%form{:action => '/school', :method => 'post'}
  %select{:name => 'org'}
    %option
      Select your organization
    - @response.each do |org|
      %option{:value => org['id']}
        #{org['name']}
  %input{:type => 'submit', :value => 'Go!'}