%script{:src => "http://code.highcharts.com/highcharts.js"}
= javascript_include_tag "application"

%h2
  Hi #{@student['first_name']}

#container{:style => "width: 800px; height: 600px; margin: 0 auto"}

:javascript
  window.series = #{JSON.generate(@formatted)};
