<!DOCTYPE html>
<html>
<head>
  <title>Buckle Up</title>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <%= image_tag "logo.png" %>
      </div>
      <div id="menu">
        <ul>
          <li class="current_page_item"><a href="#" accesskey="1" title="">Current Courses</a></li>
          <li><a href="#" accesskey="2" title="">Past Courses</a></li>
          <li><a href="#" accesskey="3" title="">Help</a></li>
          <li><a href="#" accesskey="4" title="">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="body" height="500" alt="" ></div>
  <div id="page-wrapper">
    <div id = "page">
      <ul>
      <li><a href="#">choose me</a></li>
      <li><a href="#">no, choose me!</a></li>
      <li><a href="#">me first!</a></li>
      </ul>
    </div>
    <div id="page2">
      <div id="wide-content">
        <div>
          <h2>Blah Blah Blah</h2>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<div id="footer-wrapper">
    <div id="footer-content">
      <div id="fbox1">
        <h2>About</h2>

      </div>
      <div id="fbox2">
        <h2>For Teachers </h2>

      </div>

    </div>
  </div>
</div>
<div id="footer">
  <p>Copyright (c) 2012 Seatbelts, Everyone! All rights reserved. </p>
</div>

</body>
</html>