<!DOCTYPE html>
<html>
<head>
  <title>Buckle Up</title>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script>
    $(function () {
      if (window.location.pathname === '/about') {
        $('[accesskey="4"]').parent().addClass('current_page_item')
      } else {
          $('[accesskey="1"]').parent().addClass('current_page_item')
      }
    })
  </script>
</head>
<body>
  <div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <%= image_tag "logo.png" %>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/" accesskey="1" title="">Current Courses</a></li>
          <li><a href="#" accesskey="2" title="">Past Courses</a></li>
          <li><a href="#" accesskey="3" title="">Help</a></li>
          <li><a href="/about" accesskey="4" title="">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="page-wrapper">
    <div id="page" style="display:none">
      <ul>
        <li class="selected"><a href="#">All</a></li>
        <li><a href="#">Math</a></li>
        <li><a href="#">Reading</a></li>
      </ul>
    </div>
    <div id="page2">
      <div id="wide-content">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<div id="footer-wrapper">
    <div id="footer-content">
      <div id="fbox1">
        <h2><a href="/about">About</a></h2>

      </div>
      <div id="fbox2">
        <h2>For Teachers </h2>

      </div>

    </div>
  </div>
</div>
<div id="footer">
  <p>Copyright (c) 2012 Seatbelts, Everyone! All rights reserved. </p>
</div>

</body>
</html>